openapi: 3.0.3
info:
  title: Signaturely Documents Team API
  description: 'REST API for Signaturely, simple electronic signature software. Send signature requests from templates, bulk-send from CSV data, manage documents, templates, folders, and team members, and subscribe to document webhooks. Access requires a separately billed API plan (Gold, Platinum, or Titanium). Authentication uses an API key sent in the "Authorization: Api-Key {API_KEY}" header, issued from the account API settings. Endpoint paths and methods below were confirmed from Signaturely''s public developer documentation.'
  version: v1
  contact:
    name: Signaturely
    url: https://signaturely.com/api
  x-apisjson-aid: signaturely
servers:
- url: https://api.signaturely.com/api/v1
  description: Signaturely production API
security:
- ApiKeyAuth: []
tags:
- name: Team
  description: Manage team members and roles.
paths:
  /teams/members:
    get:
      tags:
      - Team
      summary: List team members
      description: Get the team members of your Signaturely account, with their respective account types.
      responses:
        '200':
          description: A list of team members.
  /teams/members/role:
    patch:
      tags:
      - Team
      summary: Change a team member's role
      responses:
        '200':
          description: Role changed.
  /add-teammates/with-role:
    post:
      tags:
      - Team
      summary: Add a team member with a role
      responses:
        '200':
          description: Team member added.
  /remove-teammates/email:
    delete:
      tags:
      - Team
      summary: Remove a team member by email
      responses:
        '200':
          description: Team member removed.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: Api-Key {API_KEY}'
