openapi: 3.2.0
info:
  title: Signaturely Templates API
  description: REST API for Signaturely, simple electronic signature software.
  version: v1
  contact:
    name: Signaturely
    url: https://signaturely.com/api
  x-apisjson-aid: signaturely
servers:
- url: https://api.signaturely.com/api/v1
  description: Signaturely production API
security:
- ApiKeyAuth: []
tags:
- name: Templates
  description: Work with reusable templates.
paths:
  /documents/api/templates:
    get:
      tags:
      - Templates
      summary: List templates
      description: Get the list of templates available to your account via API.
      responses:
        '200':
          description: A list of templates.
      operationId: getDocumentsApiTemplates
      x-operation-id-source: derived
    delete:
      tags:
      - Templates
      summary: Delete a template
      responses:
        '200':
          description: Template deleted.
      operationId: deleteDocumentsApiTemplates
      x-operation-id-source: derived
  /document_sign/documents/{templateId}/signed_download_url/api:
    get:
      tags:
      - Templates
      summary: Download a template file
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A download URL for the template file.
      operationId: getDocumentSignDocumentsByTemplateIdSignedDownloadUrlApi
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: Api-Key {API_KEY}'
