openapi: 3.2.0
info:
  title: Signaturely Folders API
  description: REST API for Signaturely, simple electronic signature software.
  version: v1
  contact:
    name: Signaturely
    url: https://signaturely.com/api
  x-apisjson-aid: signaturely
servers:
- url: https://api.signaturely.com/api/v1
  description: Signaturely production API
security:
- ApiKeyAuth: []
tags:
- name: Folders
  description: Organize documents and folders.
paths:
  /api-integrations/folders:
    get:
      tags:
      - Folders
      summary: List folders
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A paginated list of folders.
      operationId: getApiIntegrationsFolders
      x-operation-id-source: derived
    post:
      tags:
      - Folders
      summary: Create a folder
      description: Create a folder for documents via API call.
      responses:
        '200':
          description: Folder created.
      operationId: postApiIntegrationsFolders
      x-operation-id-source: derived
  /api-integrations/folders/{id}:
    get:
      tags:
      - Folders
      summary: Get a folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Folder information.
      operationId: getApiIntegrationsFoldersById
      x-operation-id-source: derived
    patch:
      tags:
      - Folders
      summary: Rename a folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Folder renamed.
      operationId: patchApiIntegrationsFoldersById
      x-operation-id-source: derived
  /api-integrations/folders/move:
    patch:
      tags:
      - Folders
      summary: Move documents or folders into a folder
      responses:
        '200':
          description: Entities moved.
      operationId: patchApiIntegrationsFoldersMove
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: Api-Key {API_KEY}'
