openapi: 3.2.0
info:
  title: Signaturely Documents API
  description: REST API for Signaturely, simple electronic signature software.
  version: v1
  contact:
    name: Signaturely
    url: https://signaturely.com/api
  x-apisjson-aid: signaturely
servers:
- url: https://api.signaturely.com/api/v1
  description: Signaturely production API
security:
- ApiKeyAuth: []
tags:
- name: Documents
  description: List, download, share, remind on, and manage documents.
paths:
  /documents:
    get:
      tags:
      - Documents
      summary: List documents
      responses:
        '200':
          description: A list of documents.
      operationId: getDocuments
      x-operation-id-source: derived
    delete:
      tags:
      - Documents
      summary: Delete a document
      responses:
        '200':
          description: Document deleted.
      operationId: deleteDocuments
      x-operation-id-source: derived
  /documents/{documentId}/signers:
    get:
      tags:
      - Documents
      summary: Get a document's signers
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A list of signers for the document.
      operationId: getDocumentsByDocumentIdSigners
      x-operation-id-source: derived
  /documents/{id}/activities:
    get:
      tags:
      - Documents
      summary: Get a document's activity log
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The document activity log.
      operationId: getDocumentsByIdActivities
      x-operation-id-source: derived
  /documents/{documentId}/revert:
    patch:
      tags:
      - Documents
      summary: Revert a document
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Document reverted.
      operationId: patchDocumentsByDocumentIdRevert
      x-operation-id-source: derived
  /document_sign/documents/{documentId}/signed_download_url/api:
    get:
      tags:
      - Documents
      summary: Get a signed-document download URL
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A download URL for the signed document.
      operationId: getDocumentSignDocumentsByDocumentIdSignedDownloadUrlApi
      x-operation-id-source: derived
  /document_sign/documents/{id}/share_url:
    get:
      tags:
      - Documents
      summary: Get a shareable signing link
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: A shareable signing URL.
      operationId: getDocumentSignDocumentsByIdShareUrl
      x-operation-id-source: derived
  /document_sign/documents/{id}/share:
    post:
      tags:
      - Documents
      summary: Share a document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Document shared.
      operationId: postDocumentSignDocumentsByIdShare
      x-operation-id-source: derived
  /document_sign/documents/{id}/send_reminders:
    post:
      tags:
      - Documents
      summary: Send signing reminders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Reminders sent.
      operationId: postDocumentSignDocumentsByIdSendReminders
      x-operation-id-source: derived
  /api-integrations/recent_document:
    get:
      tags:
      - Documents
      summary: Get the most recent document
      parameters:
      - name: recentDocumentType
        in: query
        required: false
        schema:
          type: string
          example: sent
      responses:
        '200':
          description: The most recent document of the given type.
      operationId: getApiIntegrationsRecentDocument
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: Api-Key {API_KEY}'
