openapi: 3.2.0
info:
  title: Signaturely Team API
  description: REST API for Signaturely, simple electronic signature software.
  version: v1
  contact:
    name: Signaturely
    url: https://signaturely.com/api
  x-apisjson-aid: signaturely
servers:
- url: https://api.signaturely.com/api/v1
  description: Signaturely production API
security:
- ApiKeyAuth: []
tags:
- name: Team
  description: Manage team members and roles.
paths:
  /teams/members:
    get:
      tags:
      - Team
      summary: List team members
      description: Get the team members of your Signaturely account, with their respective account types.
      responses:
        '200':
          description: A list of team members.
      operationId: getTeamsMembers
      x-operation-id-source: derived
  /teams/members/role:
    patch:
      tags:
      - Team
      summary: Change a team member's role
      responses:
        '200':
          description: Role changed.
      operationId: patchTeamsMembersRole
      x-operation-id-source: derived
  /add-teammates/with-role:
    post:
      tags:
      - Team
      summary: Add a team member with a role
      responses:
        '200':
          description: Team member added.
      operationId: postAddTeammatesWithRole
      x-operation-id-source: derived
  /remove-teammates/email:
    delete:
      tags:
      - Team
      summary: Remove a team member by email
      responses:
        '200':
          description: Team member removed.
      operationId: deleteRemoveTeammatesEmail
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as: Authorization: Api-Key {API_KEY}'
